.chk__menu {
  display: none;
}

.chk__menu:checked {
  & ~ .entete__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      to top,
      rgba(32, 31, 31, 0.8) 75%,
      transparent
    );
    color: antiquewhite;
    font-size: 25px;

    .entete__menu {
      flex-direction: column;
      padding: 0;
    }
  }
}

.entete {
  display: flex;

  &__contenu {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 75px;
    height: 75px;
    position: relative;
    margin-left: 15px;

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }

    @media screen and (max-width: $point-rupture-797) and (min-width: $point-rupture) {
      margin-top: 10px;
    }

    &--pied-page {
      width: 150px;
      height: 150px;
      padding: 45px;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $point-rupture-797) and (min-width: $point-rupture) {
      justify-content: center;
      form {
        margin-top: 20px;
        flex-basis: 300px;
      }
    }
    @media screen and (max-width: $point-rupture) {
      display: none;
    }
  }

  &__burger {
    display: none;

    @media screen and (max-width: $point-rupture) {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  &__menu {
    margin-right: 20px;
    display: flex;
    gap: 1rem;
    list-style-type: none;
  }

  &__menu-item {
    a {
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      cursor: pointer;
      color: inherit;
      display: inline-block;
      text-decoration: none;
      background-image: linear-gradient(
        to right,
        rgb(251, 98, 42) 0%,
        rgb(251, 98, 42) 100%
      );
      background-repeat: no-repeat;
      background-size: 0% 0.1em;
      background-position: 0 100%;
      transition: all 0.3s ease-in-out;
    }

    a:hover {
      background-size: 100% 0.1em;
      transform: scale(1.2);
    }
  }
}
