.hero {
  height: 91vh;
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(32, 31, 31, 0.3) 45%,
    transparent
  );

  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;

    & img {
      height: 100vh;
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__contenu {
    color: snow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 80px;
    text-align: center;
  }

  &__titre {
    margin: 0;
    font-weight: 40;
  }

  &__lien {
    text-decoration: none;
    color: rgb(251, 98, 42);
    padding: 15px;
    border: 1px solid rgb(251, 98, 42);
    transition: all 0.5s ease-in-out;

    &:hover {
      background-color: rgb(251, 98, 42);
      color: snow;
      padding: 15px;
      border: 1px solid snow;
      transform: scale(1.2);
    }

    & strong {
      font-weight: 600;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
  }

  &__description {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 450;
  }
}
