.populaire {
  margin-inline: 45px;
  margin-bottom: 30px;

  & hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__cartes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .conteneur__carte {
    margin-top: 25px;
    padding: 15px 20px;
    border: 1px solid black;
    display: flex;
    gap: 25px;

    & h2 {
    }

    & small {
      color: rgb(157, 156, 156);
    }

    & .conteneur__carte-text {
    }
  }

  .conteneur__temp {
    display: flex;
    gap: 15px;
    font-weight: 500;
    margin-bottom: 25px;
  }
  .conteneur__temp-haut {
    color: rgb(183, 4, 4);
  }

  .conteneur__temp-min {
    color: rgb(7, 4, 183);
  }

  .conteneur__temp-moy {
    color: rgb(49, 49, 49);
  }

  .conteneur__category--lien {

    text-decoration: none;
    color: rgb(165, 44, 0);
    transition: all 0.3s ease-in-out;

    &:hover {
      font-size: 16.5px;
      color: rgb(255, 67, 4);
      text-decoration: underline;
    }
  }
}
