.recherche {
  margin-inline: 1rem;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  height: 20px;
  position: relative;
  overflow: hidden;

  &__input {
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;
  }

  &__bouton {
    position: absolute;
    top: -3px;
    bottom: 0;
    right: 0;
    border: none;

    border-left: 1px solid black;
  }

  &__bouton img {
    height: auto;
    width: auto;
    object-fit: contain;
  }
}
