h1 {
  font-family: "roboto", "sans-serif";
  font-size: clamp(2.5rem, 5.4795vw + -0.137rem, 7rem);
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 450;
  font-size: clamp(1rem, 3.1311vw + 0.0646rem, 3rem);
}
